    /* Modal Header */
    .modal-header {
        padding: 2px 16px;
        background-color: #e0a244;
        color: white;
    }

    /* Modal Body */
    .modal-body {
        padding: 2px 16px;
    }

    /* Modal Footer */
    .modal-footer {
        padding: 2px 16px;
        background-color: #65a2aa;
        color: white;
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        animation-name: animatetop;
        animation-duration: 0.4s;
    }

    /* Add Animation */
    @keyframes animatetop {
        from {top: -300px; opacity: 0}
        to {top: 0; opacity: 1}
    }
    .text-center {
        text-align: center;
    }

    /* Estilo para la clase img-fluid */
            
      .img-fluid {
max-width: 100%; /* La imagen será responsive y no excederá el ancho de su contenedor */
height: auto; /* Mantiene la proporción original de la imagen */
border-radius: 1000px; /* Bordes redondeados */
/*box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra suave */
filter: drop-shadow(
    0 0 10px rgba(0, 0, 0, .8)
);
}


.img-fluid:hover {
transform: scale(1.15); /* Aumenta ligeramente el tamaño de la imagen al pasar el ratón por el Perro */
transition: transform 0.3s ease; /* Transición suave para el efecto de hover   */
}

.img-fluid {
border: 2px solid #e0a244; /* Bordes del Perro de color a que quiera */ 
}


.img-fluid:hover {
filter: brightness(1.2); /* Aumenta el brillo al pasar el ratón */
}

